#include "comet.dtsi"

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>  // P14 - outer (left side)
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>  // P15 - pinky
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>  // P18 - ring
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>  // P19 - middle
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>  // P20 - index
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>  // P21 - inner
        ;
};