#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "comet.dtsi"

&comet_layout {
    transform = <&default_transform>;
};

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio0 31 GPIO_ACTIVE_HIGH>  // P0.31 (A0/D14) - outer
        , <&gpio0 29 GPIO_ACTIVE_HIGH>  // P0.29 (A1/D15) - pinky
        , <&gpio0 2 GPIO_ACTIVE_HIGH>   // P0.02 (A2/D16) - ring
        , <&gpio1 15 GPIO_ACTIVE_HIGH>  // P1.15 (A3/D17) - middle
        , <&gpio1 13 GPIO_ACTIVE_HIGH>  // P1.13 (D18) - index
        , <&gpio1 11 GPIO_ACTIVE_HIGH>  // P1.10 (D19) - inner
        ;
};

&pinctrl {
    spi2_default: spi2_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 20)>;
        };
    };

    spi2_sleep: spi2_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 20)>;
            low-power-enable;
        };
    };
};

/* Enable spi2 bus and the trackball, and define their pins */
&spi2 {
  status = "okay";
  pinctrl-0 = <&spi2_default>;
  pinctrl-1 = <&spi2_sleep>;
  pinctrl-names = "default", "sleep";
  cs-gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;
};

&trackball {
  status = "okay";
  irq-gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};